


.fira-sans {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header style here  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
    margin: 24px 170px;
}

.titile h3{
    color: #0E0E0E;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0px;
    font-weight: bold;

}

.btn{
    padding: 15px 30px;
    border: 1px solid green;
    color: green;
    font-size: 18px;
    font-weight: 400;
}

.banner-container{
    background-color: #A8C4B6;
    display: flex;
    height: 560px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    margin: 24px 160px;
    border-radius: 24px;
}

.banner-content{
   max-width: 600px;
}

.banner-subtitle{
   font-size: 16px;
   color: #0E0E0E;
   font-weight: 300;
   margin-bottom: 16px;
}

.banner-title{
    font-size: 52px;
    color: #0E0E0E;
    font-weight: bold;
    letter-spacing: 0;  
}

.common-btn{
    font-size: 18px;
    font-weight: 500;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding:  17px 34px;
    border: none;
}

/* vision style here  */

.vision{
    padding: 24px 160px;
}

.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    letter-spacing: 0;
    margin-bottom: 24px;
}

.vision-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 0.7;
    letter-spacing: 0;
}

.card-container{

}

.card{
    width: 410px;
    height: 325px;
    background-color: #81B4FC;
    padding: 28px;
    border-radius: 16px;
}